# 环境变量
.env
.env.local
.env.*.local

# 依赖
node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml

# 构建输出
dist/
build/
.next/
out/

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# 日志
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# 临时文件
.turbo/
.cache/
.eslintcache

# OS
Thumbs.db
.DS_Store
